<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.css">
    <title>Google Sheets API</title>
</head>
<body>
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-stripped">
                        <tbody>
                            <% if(rows && rows.length > 0){ %>
                            <% for(var i=0; i<rows.length; i++) { %>
                            <tr>
                                <td><%= rows[i][0] %></td>
                                <td><%= rows[i][1] %></td>
                                <td><%= rows[i][2] %></td>
                                <% if(i > 0){ %>
                                <td><button class="btn btn-sm btn-danger" onclick="clearData('A<%= i+1 %>:C<%= i+1 %>')">Clear</button></td>
                                <% }else{ %>
                                <td>Action</td>
                                <% } %>
                            </tr>
                            <% } %>
                            <% } %>
                            <tr>
                                <td><input type="hidden" id=last_id value="<%= rows[rows.length-1][0] %>" /></td>
                                <td><input type="text" class="form-control input-sm" id="name" /></td>
                                <td><input type="text" class="form-control input-sm" id="nim" /></td>
                                <td><button class="btn btn-sm btn-primary" id="btn_add">Append</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-1.11.3.js" type="text/javascript"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>

<script type="text/javascript">
function clearData(cell){
    var r = confirm("Are you sure ?");
    if (r == true) {
        $.ajax({
            url: "http://localhost:1337/api/clear?cell="+cell,
            dataType: "json",
            method: "POST",
            statusCode: {
                404: function() {
                    alert( "Page not found!" );
                }
            },
            success: function(data, status){
                if(data.error) alert("Sorry there's an internal problem!");
                else window.location.reload();
            },
            error: function(error, status){
                console.log(error);
            }
        });
    }
}

$(document).ready(function(){
    $("#btn_add").on("click", function(){
        var last_id = ($("#last_id").val() !== null && $("#last_id").val() != '')?$("#last_id").val():0;
        var name = $("#name").val();
        var nim = $("#nim").val();

        if(name !== undefined && name !== null &&
            nim !== undefined &&  nim !== null){
                $.ajax({
                    url: "http://localhost:1337/api/create?last_id="+last_id+"&name="+name+"&nim="+nim,
                    dataType: "json",
                    method: "POST",
                    statusCode: {
                        404: function() {
                            alert( "Page not found!" );
                        }
                    },
                    success: function(data, status){
                        if(data.error) alert("Sorry there's an internal problem!");
                        else window.location.reload();
                    },
                    error: function(error, status){
                        console.log(error);
                    }
                });
        }
        else{
            alert("Please fill both name and nim!");
        }
    });
});
</script>